@model GummyBear.Models.Product

<html>
<head>
    <title>Create Functionality</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    <h4>Add a new task</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        @Html.LabelFor(model => model.Cost)
        @Html.TextBoxFor(model => model.Cost)
        @Html.LabelFor(model => model.Country)
        @Html.TextBoxFor(model => model.Country)
        <input type="submit" value="Add new task" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>