@model IEnumerable<GummyBear.Models.Product>

<html>
<head>
    <title>Gumnmy Bear Mania</title>
</head>
<body>
    <h2>To Do List</h2>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <ul>
        @foreach (var listItem in Model)
        {
            <li>@Html.DisplayFor(modelItem => listItem.Name) | @Html.ActionLink("Details", "Details", new { id = listItem.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = listItem.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = listItem.ProductId })</li>
        }
    </ul>
    <p>@Html.ActionLink("Add new item", "Create")</p>
</body>
</html>