@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/ProductStyles.css" />

@model IEnumerable<GummyBear.Models.Product>

<html>
<head>
    <title>Gumnmy Bear Mania</title>
</head>
<body>
    <h2 id="product-header">Products:</h2>
    <ul>
        @foreach (var listItem in Model)
        {
        <li class="product-list">
                @Html.DisplayFor(modelItem => listItem.Name) |

            <div class="btn btn-info" id="Details">
                @Html.ActionLink("Details", "Details", new { id = listItem.ProductId })
            </div> |

            <div class="btn btn-warning" id="Edit">
                @Html.ActionLink("Edit", "Edit", new { id = listItem.ProductId })
            </div> |
            <div class="btn btn-danger" id="Delete">
                @Html.ActionLink("Delete", "Delete", new { id = listItem.ProductId })
            </div>
        </li>
          

        }
    </ul>

    <p>@Html.ActionLink("Add new item", "Create")</p>
</body>
</html>